@import "vars"

/*==========  section registration-section ==========*/
.registration-section
  height: 100%
  .container
    height: 100%
    align-items: center


.registration-box
  max-width: 724px
  width: 100%
  margin: 0 auto
  background: #1C1C1C
  border-radius: 22px
  &__head
    width: 100%
    display: flex
    align-items: center
    flex-wrap: wrap
    padding: 40px 40px 0
  &__footer
    border-top: 1px solid #282828
    padding: 32px 40px
    .box-text
      display: flex
      align-items: center
      flex-wrap: wrap
      justify-content: center
      font-size: 14px
      margin: 24px auto 0
      a
        margin-left: 8px
  &__body
    padding: 32px 40px 40px
  form
    button
      max-width: 406px
      width: 100%
      margin: 0 auto

.form-row-attention
  display: flex
  align-items: center
  padding: 10px 16px
  font-size: 14px
  background: #202020
  border-radius: 8px
  &__icon
    @include d-flex
    width: 20px
    height: 20px
    min-width: 20px
    border: 1.5px solid #FFFFFF
      radius: 50%
    stroke: #fff
    fill: none
    padding: 4px
    margin: 0 9px 0 0


/*==========  section registration-section end  ==========*/


/*==========  section settings-page ==========*/
.settings-page
  h1
    margin: 0 auto 36px

  .form-password
    button
      max-width: none
      width: fit-content
      margin: 0 0 0 auto

.page-wrapper
  max-width: 724px
  width: 100%
  margin: 0 auto

.form-row-profile
  display: flex
  align-items: center
  flex-wrap: wrap
  padding: 0 0 32px
  border-bottom: 1px solid #282828
  .user-photo
    margin: 0 32px 0 0
    width: 68px
    height: 68px
    min-width: 68px

.tabs__content
  display: none
  &.active
    display: block

.tabs__caption
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 0 32px
  border-bottom: 1px solid #202020
  font-size: 14px
  li
    cursor: pointer
    position: relative
    padding: 0 0 16px
    margin: 0 32px 0 0
    &:last-child
      margin: 0
    &:before
      content: ''
      position: absolute
      left: 0
      bottom: -1px
      width: 0
      height: 1px
      background: $accent
      transition: .3s ease
    &.active
      &:before
        width: 100%

.link-delete
  margin-left: 24px
/*==========  section settings-page end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/

/*==========  section  ==========*/

/*==========  section end  ==========*/